body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    display: flex;
    margin: 0;
    padding: 4px;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(4, 4, 46);
}
.header-logo {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
.links {
    display: flex;
    list-style-type: none;
    gap: 18px;
}
a {
    text-decoration: none;
    font-size: 18px;
    color: aliceblue;
}

.description {
    display: flex;
    justify-content: center;
    background-color: rgb(4, 4, 46);
}
.description-box {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1000px;
    padding: 80px;
    gap: 150px
}
.description-title {
    font-size: 48px;
    font-weight: 900;
    color: aliceblue;
    margin: 0;
}
.description-info {
    font-size: 24px;
    color: aliceblue;
    margin-top: 8px;
}
.description-button {
    background-color: #388df6;
    color: #f9faf8;
    font-weight: bold;
    padding: 6px 22px;
    border-radius: 6px;
    border-style: none;
    margin-top: 16px;
}
.description-left, .description-right {
    margin: 0;
}
.description-image {
    width: 500px;
    height: auto;
    border-radius: 5%;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #bcd6f7;
}
.info-title {
    font-size: 36px;
    font-weight: 900;
    color: black;
}
.info-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    padding-bottom: 80px;
}
.info-img {
    width: 160px;
    height: 160px;
    border-radius: 10px;
    border: 2px solid #388df6;
}
.info-text {
    max-width: 160px;
    text-align: center;
    font-size: 18px;
    color: #1F2937;
}

.quote {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9baccb;
}
.quote-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    padding: 100px;
}
.quote-detail {
    margin: 0;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    font-size: 24px;
    margin-left: 175px;
}
.quote-by {
    margin-top: 12px;
    color: #1F2937;
    text-align: right;
    font-weight: 800;
    font-size: 16px;
}

.prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3e6ff;
    
}
.prompt-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(75, 75, 223);
    width: 600px;
    border-radius: 6px;
    padding: 20px;
    margin: 60px;
    border: #000000 2px solid;

}
.prompt-title {
    font-size: 20px;
    font-weight: 800;
    padding: 5px;
    color: #000000;
}
.prompt-text {
    font-size: 12px;
    color: #000000;
}
.prompt-button {
    background-color: #5ca3fa;
    color: #000000;
    font-weight: bold;
    padding: 6px 22px;
    border-radius: 6px;
    border: 2px solid #f9faf8;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 4, 46);
    padding: 6px;
}

#footer-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    font-size: 12px;
}